<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleIntelTGLGraphics</string>
	<key>CFBundleExecutable</key>
	<string>AppleIntelTGLController</string>
	<key>CFBundleName</key>
	<string>AppleIntelTGLController</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleIntelTGLEGLFramebuffer</key>
		<dict>
			<key>IOClass</key>
			<string>AppleIntelTGLEGLFramebuffer</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9A498086</string>
			<key>IONameMatch</key>
			<string>GFX0</string>
			<key>IOProbeScore</key>
			<integer>60000</integer>
			<key>built-in</key>
			<true/>
			<key>AAPL,HasPanel</key>
			<true/>
			<key>IOUserClientClass</key>
			<string>IOFramebufferUserClient</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOInterruptControllers</key>
			<array>
				<string>IOPCIMessagedInterruptController</string>
			</array>
			<key>IOInterruptSpecifiers</key>
			<array>
				<data>AQAAAA==</data>
			</array>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.libkern</key>
		<string>20.6.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>20.6.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>20.6.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>585.2</string>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOSurface</key>
		<string>290.0.0</string>
	</dict>
</dict>
</plist>
